/* ALL LINKS */
a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(251, 203, 201, 0.6);
}

.clear-left {
  clear: left;
}

.float-left {
  float: left;
}

/* SIDEBAR - constant */
.sidebar {
  background-color: white;
  width: 25%;
  max-width: 325px;
  height: 100%;
  text-align: center;
  position: fixed;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 18px;
}

/* SIDEBAR LIST ITEMS */
.sidebar li {
  padding: 10px;
}

.sidebar a {
  color: #595959;
}

.sidebar a:hover {
  color: #FBCBC9;
}

/* SIDEBAR HEADER */

/* LOGO */
.logo {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.header h2 {
  padding: 10px;
  font-size: 28px;
}

/* FOOTER */
.footer {
  position: absolute;
  width: 100%;
  max-width: 325px;
  bottom: 0;
}

.footer li {
  display: inline;
}

.footer p {
  font-size: 12px;
  padding: 15px;
}

/* PAGE WRAPPER - holds all pages */
.page-wrapper {
  width: 75%;
  height: 100%;
  float: right;
}

.center-page {
  margin-top: 30px;
  margin-left: 60px;
  text-align: center;
}

.fill-page {
  margin: 0 auto;
  text-align: center;
}

/* HOME PAGE */
.background-photo {
  width: 800px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  /*display: none;*/
}

/* ABOUT */
#about-page {
  display: none;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin-left: 30px;
}

.desc {
  width: 400px;
  height: 700px;
  padding: 10px;
  margin-left: 25px;
  font-size: 18px;
  font-family: "Indie Flower", sans-serif;
}

.desc h2 {
  font-size: 36px;
  font-family: "Shadows Into Light", sans-serif;
}

/* PORTFOLIO */
#traditional-page {
  display: none;
}

#digital-page {
  display: none;
}

.page-title {
  font-family: "Shadows Into Light", sans-serif;
  font-size: 30px;
}

.portfolio-img {
  border-radius: 25px;
  width: 300px;
  height: 300px;
}

.photos {
  text-align: center;
}

.photos li {
  display: inline-block;
  padding-left: 10px;
}

#slideshow {
  width: 300px;
  height: 300px;
  position: relative;
  margin-left: -15px;
}

#slideshow li {
    position: absolute;
}

.photo .caption {
  position: relative;
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 18px;
  text-align: center;
  bottom: 39px;
  opacity: 0;
}

.photo:hover .caption {
  opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* CONTACT FORM - needs backend api */
/*.contact {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 5px auto;
  padding: 15px;
  background: #F7F7F7;
}

.contact h2 {
  background: #709CC1;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.contact input {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  font: 95% Arial, Helvetica, sans-serif;
}

#send {
  width: 100%;
  padding: 3%;
  background: #709CC1;
  border-bottom: 2px solid #4C6C9D;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

#send:hover {
  background: #99CED4;
}*/
