/* ALL LINKS */
a {
  text-decoration: none;
}

/* SIDEBAR - constant */
.sidebar {
  /*background-color: pink;*/
  width: 25%;
  max-width: 325px;
  height: 100%;
  text-align: center;
  position: fixed;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 20px;
}

/* SIDEBAR LIST ITEMS */
.sidebar li {
  padding: 10px;
}

.sidebar a {
  color: #595959;
}

.sidebar a:hover {
  color: #FBCBC9;
}

/* SIDEBAR INNER NAV */
.inner-nav {
  display: none;
}

/* SIDEBAR HEADER */

/* LOGO */
.logo {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.header h2 {
  padding: 10px;
  font-size: 28px;
}

/* FOOTER */
.footer {
  position: absolute;
  width: 100%;
  max-width: 325px;
  bottom: 0;
}

.footer li {
  display: inline;
  margin: 5px;
}

.footer p {
  font-size: 12px;
  padding: 15px;
}

/* PAGE WRAPPER - holds all pages */
.page-wrapper {
  background-color: #FBCBC9;
  width: 75%;
  height: 100%;
  float: right;
}

.center-page {
  margin-top: 50px;
  margin-left: 60px;
}

/* HOME PAGE */
.background-photo {
  width: 800px;
  height: 600px;
  background-color: white;
}

/* ABOUT */
.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  float: left;
  padding: 10px;
}

.desc {
  background-color: white;
  width: 450px;
  height: 500px;
  float: left;
  padding: 10px;
}

/* PORTFOLIO */
.portfolio {
  background-color: white;
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 50px;
}

.portfolio-img {
  border-radius: 25px;
  width: 300px;
  height: 300px;
  padding: 15px;
}

.traditional li {
  display: inline;
}

.digital li {
  display: inline;
}

/* CONTACT FORM - needs backend api */
/*.contact {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 5px auto;
  padding: 15px;
  background: #F7F7F7;
}

.contact h2 {
  background: #709CC1;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.contact input {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  font: 95% Arial, Helvetica, sans-serif;
}

#send {
  width: 100%;
  padding: 3%;
  background: #709CC1;
  border-bottom: 2px solid #4C6C9D;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

#send:hover {
  background: #99CED4;
}*/
